@media screen and (min-width: 900px) {
  .container {
    position: relative;
    width: 85%;
  }
  .image-nav {
    float: left;
  }
  .menu-navbar {
    list-style: none;
    height: inherit;
    float: right;
    font-size: 14px;
    font-family: 'Montserrat Light';
    box-shadow: none;
  }
  .menu-item {
    float: left;
    margin-left: 30px;
  }
  .menu-item:hover {
    background-color: white;
  }
  .menu-item:hover > a {
    color: #418E53;
  }
  .menu-item a {
    text-decoration: none;
    color: #418E53;
    transition: all 0.3s;
  }
  .menu-item a:hover {
    font-family: 'Montserrat SemiBold';
    font-size: 16px;
    border-bottom: 3px solid #FDD831;
    border-radius: 3px;
    padding-bottom: 3px;
  }
  .menu-button {
		width: 0px;
		height: 0px;
		display: none;
		float: none;
  }

  /* Jumbotron Full */
  .jumbotron-full {
    top: 0;
    margin-bottom: 0;
  }
  .jumbotron-image {
    width: 50%;
    float: left;
    height: 100%;
  }
  .jumbotron-image img {
    margin-top: 100px;
    width: 350px;
  }
  .jumbotron-interest {
    width: 50%;
    float: left;
    height: 100%;
    padding: 0;
  }
  .jumbotron-interest p {
    margin-top: 200px;
    line-height: 30px;
    font-size: 24px;
  }
  .jumbotron-interest button {
    height: 30px;
  }
  .box-next {
    padding-left: 30px;
    padding-right: 30px;
  }
  .next {
    width: 25px;
    height: 25px;
  }


  /* Product */
  .product {
    min-height: 600px;
  }
  .product .product-all {
    width: 30%;
    height: 30px;
  }
  .product-body {
    min-height: 660px;
  }
  .product-content {
    width: 210px;
    height: 350px;
  }
  .content-image {
    display: block;
    height: 150px;
  }
  .product-content .name {
    margin-top: 15px;
  }
  .product-content hr {
    background-color: rgb(146, 146, 146);
  }
  .product-content .address {
    margin-right: 15px;
  }
  .price {
    margin-top: 25px;
  }
  .more-button {
    margin-top: 25px;
  }
  


  /* Contact */
  
  .row1 {
    flex-direction: row;
    box-sizing: border-box;
    height: 300px;
    padding-top: 30px;
  }
  .logo-contact {
    text-align: right;
  }
  .desc-contact {
    padding-top: 60px;
    text-align: justify;
    padding-left: 40px;
  }


  /* interest */
  .sort {
    overflow: hidden;
  }
  .sort p {
    float: left;
  }
  .sort form {
    text-align: right;
  }
  .group-input {
    display: block;
    float: right;
  }
  .sort form input {
    margin-right: 15px;
  }
  .sort form span {
    margin-right: 20px;
  }





  /* single view */
  .single-view-group .corp {
    width: 70%;
  }
  .head-corp {
    height: 200px;
    padding-right: 30px;
  }
  .head-corp .corp-image {
    padding: 0 10px;
    width: 50%;
  }
  .head-corp .corp-image img {
    width: 85%;
  }
  .corp-description {
    height: inherit;
    float: left;
    overflow: hidden;
    padding-left: 20px;
    text-align: left;
    position: relative;
    padding-right: 20px;
  }
  .corp-description h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .corp-description p {
    color: rgb(58, 57, 57);
    border-bottom: 1px solid rgb(65, 64, 64);
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .corp-description .visit {
    width: 88%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
  }

  .single-view-group .similar {
    min-height: inherit;
    width: 30%;
    float: right;
  }
  .similar-card-image {
    width: 80px;
    height: 80px;
    background-color: #1770CE;
  }
  .similar-card .similar-card-title {
    font-size: 24px;
  }
  .similar-card .similar-card-muted {
    font-size: 18px;
  }
  .address {
    display: flex;
    justify-content: space-between;
  }
  .form-content {
    padding: 25px;
  }
  .form-content .input-group-address {
    flex-basis: 33%;
  }
  .form-content .submit-form-content {
    width: 200px;
    margin-bottom: 10px;
    float: right;
  }

  

  /* Dashboard */

.body-dashboard .card-dashboard {
  width: 550px;
}
.result-table {
  max-width: 550px;
}

.result-table th {
  min-width: 220px;
}
.result-table td {
  min-width: 220px;
}

























}